body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: orange;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #dddddd;
}

th,
td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.back-button {
    position: absolute;
    top: 10px;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: red;
    color: white;
    transition: background-color 0.3s;
}